<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Carlos Mateo Muñoz y Jose Ignacio Villegas Villegas.  <a href="https://github.com/carlosmateo10/quiz_2017">URL</a>
</p>
<img src="/images/carlos.jpg" width="100px" height="150px"/>
<img src="/images/villegas.jpg" width="100px" height="150px"/>

