<h1>Ayuda</h1>

<p>
    Nuestro quiz es una pequeña red social en la que los usuarios pueden crear adivinanzas y compartirlas entre ellos. El objetivo de este portal es educativo y para "jugar" simplemente hay que registrarse y añadir preguntas para contestar a ellas o también tienes las de tus compañeros.
</p>

